@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <h3>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core.</a></h3>

    <p>Construção: @ViewData["Aluno"]</p>
    <p><strong>Pesquise</strong> em: <a href="www.google.com.br">Google</a></p>
</div>
